@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/background_image.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(100vw, 1000px);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 1;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero>:nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn {
    color: white;
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}


.secimg {
    position: relative;
    padding: 20px;
}



.secimg img {
    width: 400px;
    /* position: absolute;
    top: 51px;
    right: 0px; */
}

.secimg video {
    width: 400px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}

section.first>div :nth-child(1) {
    padding: 0px 30px;
    font-size: 40px;
    font-weight: bold;
}

section.first>div :nth-child(2) {
    padding: 0px 30px;
    font-size: 16px;
    font-weight: normal
}

.faq h2 {
    text-align: center;
    font-size: 32px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
    font-size: 18px;
}

.faqbox:hover {
    background-color: rgb(65, 65, 65);
}

.faqbox {
    transition: all 0.5s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 73vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 90vw;
    margin: auto;
    padding: 34px;
}

footer .questions {
    padding: 0px 0px 34px 144px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}


@media screen and (max-width:1300px) {
    nav{
        max-width: 90vw;
    }
      .first {
        flex-wrap: wrap;
    }
    .secimg img {
        width: 305px;
        /* position: absolute;
    top: 51px;
    right: 0px; */
    }

    .secimg video {
        width: 305px;
    }

    .hero>:nth-child(1) {
        font-size: 32px;
    }

    .hero>:nth-child(2) {
        font-size: 18px;

    }

    .hero>:nth-child(3) {
        font-size: 18px;

    }
    .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 20px;
    }
    .faq h2 {
    text-align: center;
    font-size: 24px;
}

}

.footer a {
    font-size: 14px;
    color: white;
}

.footeritem {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}
